*{
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}
input[type=submit]{
    cursor: pointer;
}
input::placeholder{
    font-size: 15px;
}
.beij{
    background-image: url(image/背景4.jpg);
    background-repeat: no-repeat;
    width: 1519px;
    height: 1200px;
}
.beij2{
    background: url(image/背景6.jpg) no-repeat;
    width: 100%;
    height: 912px;
}
header{
    height: 30px;
    line-height: 30px;
    margin-left: 100px;
    font-family: a;
    font-size: 10px;
    color: darkgray;
}
.zi1{
    float: left;
    line-height: 30px;
}
.zi2{
    display: inline-block;
    margin-left: 20px;
    font-size: 40px;
    font-family:b;
    color:black;
}
.zi3{
    font-size: 10px;
    font-family:c;
    color:black;
}
.zi4{
    float: right;
    margin-right: 40px;
    line-height: 30px;
}
.pic1{
    float: left;
    height: 20px;
    margin-top: 5px;
}
/* 网页中所用的字体 */
@font-face{
    font-family:a;
    src: url(fonts/PingFang\ Medium.ttf );
}
@font-face{
    font-family:b;
    src: url(fonts/造字工房丁丁常规体.ttf );
}
@font-face{
    font-family:c;
    src: url(fonts/segoescb.ttf);
}
@font-face{
    font-family:d;
    src:url(fonts/造字工房尚黑粗体.ttf);
}
@font-face{
    font-family:e;
    src:url(fonts/造字工房尚黑常规体.ttf)
}
@font-face{
    font-family:f;
    src:url(fonts/造字工房尚黑长体.ttf)
}
@font-face{
    font-family:g;
    src:url(fonts/造字工房言宋常规体.ttf)}

.im{
    float: left;
    margin-top: 6px;
}
nav{
    float: left;
    height: 55px;
    width: 290px;
}
.top{
    position: relative;
    height: 20px;
    width: 300px;
}
.bottom{
    height: 20px;
    margin-top: 15px;
    margin-left: 150px;
    width: 200px;
}
nav img{
    float: left;
    height: 45px;
    margin-left: 60px;
}
.daohang{
    float: left;
    height: 55px;
    width: 640px;
    line-height: 55px;
}
.daohang a{
    display:inline-block;
	color:#4c4c4c;
	padding:0 15px;
    text-decoration:none;
    font-size: 20px;
}
.daohang a:hover{
	background:rgb(0 ,161, 255);
    color:skyblue;
}
.moren{
    background:rgb(0, 161, 255);
	color:skyblue;
}
.in1{
    position: absolute;
    top: 0;
    border: 4px;
    border-radius: 4px;
    height: 40px;
    width: 300px;
    margin-top: 7px;
    outline:none;
    font-family: a;
    font-size: 14px;
}
.sousuo{
    position: absolute;
    right: 356px;
    top: 18px;
    z-index: 2;
}
.in2{
    position: absolute;
    background-color: rgb(0 ,161, 255);;
    border: 0px;
    right: 289px;
    height: 40px;
    width: 60px;
    border-radius: 0 4px 4px 0;
    top: 7px;
    font-family: b;
    font-size: 30px;
    line-height: 40px;
}
.rexian{
    position: absolute;
    top: 0;
    right: 156px;
    font-family: a;
    font-size: 18px;
}
.rexian2{
    position: absolute;
    right: 30px;
    top: 17px;
    font-size:29px ;
    font-family: a;
    color: black;
}
/* 导航栏 */
.dh{
    position: relative;
    height: 55px;
    width: 100%;
    background-color: rgb(1, 185,255);
}
.b{
    width: 100%;
}
.zuo{
    position: absolute;
    display: none;
    top: 50%;
    left:10px;
    margin-top: -25px;
    width: 75px;
    height: 75px;
    filter: Alpha(opacity=50);
    opacity: 0.3;
    transition: all 1s ease;
}
.you{
    position: absolute;
    display: none;
    top: 50%;
    right:15px;
    margin-top: -25px;
    width: 75px;
    height: 75px;
    opacity: 0.3;
    transition: all 2s ease;
}

.five{
    margin-left: 184px;
    width: 1200px;
    height: 200px;
}
.five li{
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    list-style: none;
    height: 160px;
    width: 200px;
    transition:all 0.5s ease ;
}
.five .li1{
    height: 160px;
    width: 200px;
    background-color: rgb(215, 99, 219);
    border-radius: 6px 6px 0px;
}
.five a:hover .li1{
    background-color: rgb(225, 138, 228) ;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
}
.five .li2{
    height: 160px;
    width: 200px;
    background-color: rgb(88, 151, 94);
    border-radius: 6px 6px 0px;
}
.five :hover .li2{
    background-color: rgb(120, 206, 128);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
}
.five .li3{
    height: 160px;
    width: 200px;
    background-color: rgb(178, 120, 255);
    border-radius: 6px 6px 0px;
}
.five :hover .li3{
    background-color:rgb(177, 138, 228); 
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
}
.five .li4{
    height: 160px;
    width: 200px;
    background-color:rgb(196, 218, 76);
    border-radius: 6px 6px 0px;
}
.five :hover .li4{
    background-color:rgb(218, 236, 111);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
}
.five .li5{
    height: 160px;
    width: 200px;
    background-color:  rgb(101, 221, 205);
    border-radius: 6px 6px 0px;
}
.five :hover .li5{
    background-color: rgb(132, 236, 222);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
}
.im1{
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 40px;
    margin-left:75px ;
}
.five li span{
    float: left;
    margin-top: 5px;
    margin-left: 54px;
    color: white;
    font-family: g;
    font-size: 25px;
}
.five li .gouwu{
    float: left;
    margin-top: 5px;
    margin-left: 76px;
    color: white;
    font-family: g;
    font-size: 25px;
}
.nav2{
    position: relative;
    top: 25px;
    width: 100%;
    height: 100px;
    line-height: 100px;
}
.nav3{
    position: relative;
    background-color: rgba(122, 176, 212, 0.5);
    width: 100%;
    height: 120px;
    line-height: 100px;
}
.huisechangtiao1{
    position: absolute;
    top: 50%;
    left: 480px;
    height: 3px;
    width: 150px;
    border-radius: 1px;
    background-color:rgb(221, 221, 221);
}
.huisechangtiao2{
    position: absolute;
    top: 50%;
    right: 480px;
    height: 3px;
    width: 150px;
    border-radius: 1px;
    background-color:rgb(221, 221, 221);
}
.nav2 p{
    text-align: center;
    font-family: b;
    font-size: 70px;
    color: rgb(6, 184, 255);
}
.nav3 p{
    position: absolute;
    margin-top: 15px;
    left: 50%;
    margin-left: -80px;
    font-family: b;
    font-size: 70px;
    color: rgb(6, 184, 255);
}
/* 旅游城市 */
.city{
    width: 100%;
    height: 800px;
    margin-top: 50px;
}
.city1{
    margin-left: 110px;
    width: 1300px;
    height: 400px;
    list-style: none;
}
ul.city1 li:nth-child(1){
    margin-left: 0;
}
ul.city1 li:nth-child(1) div{
    background-image: url(image/56.jpg);
}
ul.city1 li:nth-child(2) div{
    background-image: url(image/55.jpg);
}
ul.city1 li:nth-child(3) div{
    background-image: url(image/52.jpg);
}
.city1 li{
    float: left;
    margin-left: 200px;
    height: 400px;
    width: 300px;
    background-color: transparent;
}
.city li div{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    transition:all 0.75s ease-in-out ;
    cursor: pointer;
}
.city1 li span{
    float: left;
    margin-left: 100px;
    margin-top: 20px;
    width: 100px;
    height: 40px;
    background-color: rgb(117, 193, 255);
    font-family: e;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
}
.city li section{
    display: none;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    background-color:rgba(0, 0, 0,0.25);
} 
.city2 li span{
    float: left;
    margin-left: 100px;
    margin-top: 20px;
    width: 100px;
    height: 40px;
    background-color: rgb(117, 193, 255);
    font-family: e;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
}
.city2{
    margin-left: 110px;
    margin-top: 0px;
    width: 1300px;
    height: 400px;
    list-style: none;
}
.city2 li{
    float: left;
    margin-left: 233px;
    height: 400px;
    width: 300px;
}
.city2 li div{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    cursor: pointer;
}
ul.city2 li:nth-child(1) div{
    background-image: url(image/54.jpg);
}
ul.city2 li:nth-child(2) div{
    background-image: url(image/51.jpg);
}
.city a:hover div {
    transform: rotate(360deg);
}
.city a{
    color: black;
}
.city a:hover span{
    background-color: rgb(101, 169, 238);
}
.city ul li a:hover section{
    display: block;
}
.beij input{
    width: 120px;
    height: 40px;
    margin-left: 710px;
    font-family: e;
    font-size: 20px;
    background-color: rgb(117, 193, 255);
    border: solid 1px gray;
    transition: all 0.5s ease-in-out;
}
.beij2 input:hover{
    background-color: rgb(66, 149, 231);
}
.beij2 input{
    width: 120px;
    height: 40px;
    margin-left: 710px;
    font-family: e;
    font-size: 20px;
    background-color: rgb(117, 193, 255);
    border: solid 1px gray;
    transition: all 0.5s ease-in-out;
}
.beij input:hover{
    background-color: rgb(66, 149, 231);
}
/* 游记分享 */
section{
    width: 100%;
    height: 750px;
}
section ul{
    float: left;
    margin-top: 80px;
    width: 1224px;
    height: 300px;
    margin-left: 160px;
    list-style: none;
}
section ul:nth-child(2){
    margin-top: 25px;
}
section ul li{
    position: relative;
    float: left;
    height: 300px;
    width: 383px;
    margin-left: 25px;
    background-color: wheat;
    overflow: hidden;
}
section ul li img{
    position: absolute;
    height: 300px;
    transition: all 0.8s ease;  
}
section ul li i{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(56, 56, 56, 0.5);
}
section ul li span{
    float: left;
    margin-left: 2px;
    margin-top: 2px;
    width: 286px;
    height: 106px;
    background-color: rgba(255, 255, 255, 0.6);
}
section ul a:hover img{
    transform: scale(1.15);
}
section ul a:hover i{
    display: block;
}

section ul li span strong{
    display: inline-block;
    margin-top: 12px;
    margin-left: 12px;
    font-family: d;
    font-size: 20px;
}
section ul li span hr{
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.6) ;
    width: 250px;
    height: 1px;
    margin-left: 16px;
}
section ul li span p{
    display: inline-block;
    margin-top: 7px;
    margin-left: 11px;
    font-family: a;
    font-size: 15px;
}
section ul li div{
    position: absolute;
    left:46px;
    bottom: 15px;
    width:290px ;
    height: 110px;
    border:rgba(255, 255, 255, 0.6) solid 2px;
    transition: all 0.8s ease;
}
section ul a:nth-child(1){
    margin-left: 0;
}
section ul a{
    float: left;
    color: black;
    margin-left: 25px;
    height: 300px;
    width: 383px;
}
section ul a:hover div{
    bottom: 50px;
}
footer{
    position: relative;
    width: 1519px;
    height: 350px;
    background-color: rgb(86, 186, 253);
}
footer .u1{
    float: left;
    width: 492px;
    height: 350px;
    list-style: none;
    font-family: a;
}
footer h1{
    color: blue;
}
footer .l1{
    float:left;
    line-height: 30px;
    margin-left:100px;
    margin-top: 50px;
}
footer .l2{
    float: left;
    margin-top: 50px;
    margin-left:70px;
    width: 145px;
    height: 145px;
    background-image: url(image/15.jpg);
}
.l3 .s1{
    color: rgb(0, 0, 0);
    margin-left: 89px;
    font-size: 12px;
}
.l3 .s2{
    color: rgb(0, 0, 0);
    margin-left: 360px;
    font-size: 12px;
}
.fgx1{
    float: left;
    margin-top: 40px;
    margin-left: 40px;
    width: 3px;
    height: 180px;
    background-color:rgb(93 166 255);
}
.fgx2{
    float: left;
    margin-top: 40px;
    margin-left: -10px;
    width: 3px;
    height: 180px;
    background-color:rgb(93 166 255);
}
footer .u2{
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    list-style-image: url(image/椭圆\ 1.png);
}
footer .u3{
    float: left;
    margin-top: 8px;
    margin-left: -5px;
    list-style-image: url(image/椭圆\ 1.png);
}
footer .u2 li{
    font-family: a;
    font-size: 15px;
    margin-top: 10px;
}
footer .u3 li{
    font-family: a;
    font-size: 15px;
    margin-top: 10px;
}
footer .u4{
    float: left;
    margin-top: 37px;
    margin-left: -80px;
    list-style-image: url(image/椭圆\ 1.png);
}
footer .u4 li{
    font-family: a;
    font-size: 15px;
    margin-top: 10px;
}
.s3{
    margin-left: 15px;
    margin-top: 30px;
    font-family: c;
    color: blue;
    font-size:30px ;
}
.v3{
    float: left;
    margin-left: 20px;
    height: 350px;
    width: 450px;
}
footer .u5{
    float: left;
    list-style: none;
    height: 270px;
    width: 300px;
}
footer .u5 .z1{
    margin-top: 40px;
    margin-left: 40px;
    color: blue;
    font-family:d ;
    font-size: 30px;
} 
.xiaosanjiao1{
    float: left;
    margin-left: 40px;
    margin-top: 50px;
    width:0;
    height:0;
    border:solid 8px rgba(200,200,200,0);
    border-left-color:blue ;
}
.xiaosanjiao2{
    float: left;
    margin-left: 40px;
    margin-top: 27px;
    width:0;
    height:0;
    border:solid 8px rgba(200,200,200,0);
    border-left-color:blue ;
}
.xinfen{
    float: left;
    margin-top: 49px;
    margin-left: 7px;
    height: 19px;
    width: 23px;
}
footer .u5 .sp1{
    float: left;
    margin-top: 46px;
    margin-left: 7px;
    font-family: a;
    font-size: 17px;
}
.dianhua{
    float: left;
    margin-top: 25px;
    margin-left: 7px;
    height: 21px;
    width: 24px;
}
footer .u5 .sp2{
    float: left;
    margin-top: 26px;
    margin-left: 7px;
    font-family: a;
    font-size: 15px;
}
footer .cfgx{
    position: absolute;
    top: 275px;
    width: 1250px;
    left: 50%;
    margin-left: -625px;
    height: 2px;
    background-color:rgb(93 166 255) ;
}
footer .sp3{
    position: absolute;
    top: 300px;
    left: 314px;
    font-size: 15px;
    font-family: a;
} 